<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="19.86.6" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Broker" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.16.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>